<div class="container">

  <div class="table-header">
    <h2>Users</h2>
    <button class="add-btn" [routerLink]="'/add'">+ Add User</button>
  </div>


  <table class="user-table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Date</th>
        <th class="action-column">Actions</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let user of users">
        <td>{{user.name}}</td>
        <td>{{user.email}}</td>
        <td>{{ user.created_at | date:'dd MMM yyyy, hh:mm a' }}</td>
        <td class="actions">
          <button class="icon-btn edit-btn" (click)="openEdit(user)">✏️</button>
          <a [routerLink]="['/preview', user.id]" class="icon-btn preview-btn">📄</a>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="pagination">
    <button (click)="prevPage()">Previous</button>
    <button (click)="nextPage()">Next</button>
  </div>

</div>


<!-- EDIT MODAL -->
<div *ngIf="showModal" class="modal">
  <div class="modal-content">
    <h3>Edit User</h3>

    <label>Name</label>
    <input [(ngModel)]="selectedUser.name" />

    <label>Email</label>
    <input [(ngModel)]="selectedUser.email" />

    <label>Phone</label>
    <input [(ngModel)]="selectedUser.phone" />

    <label>Summary</label>
    <textarea [(ngModel)]="selectedUser.summary"></textarea>

    <div class="modal-buttons">
      <button class="save-btn" (click)="updateUser()">Save</button>
      <button class="cancel-btn" (click)="closeModal()">Cancel</button>
    </div>
  </div>
</div>